.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
.tableColumn{
    margin-left: 10px;
    padding-left: 15px;
}
/*Cambia Tabs de barra*/
.navbar-default{
    padding-top: 5px;
    padding-bottom: 5px;
    border-color: #f1f0ef;
    background-color: #f1f0ef;
    box-shadow: 0px -10px 5px 5px #999;
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.navbar-default .navbar-brand {
  color: #000;
  background-color: #f1f0ef;
  font-family: 'Righteous';
}
.navbar-default .navbar-nav {

  font-family: 'Calibri';
}
/*Cambiar Barra cuando se pasa el mouse
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}*/
/*Cambia el seleccionado*/
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #ff9e1c;
  border-radius: 5px;
  padding-bottom: 12px;

}

.panel{
  box-shadow: 0px 0px 4px 4px #999;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.panel-primary {
  border-color: #ff9e1c;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #ff9e1c;
  border-color: #ff9e1c;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ff9e1c;
}
.panel-primary > .panel-heading .badge {
  color: #ff9e1c;
  background-color: #fff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ff9e1c;
}
@font-face {
    font-family: 'Righteous'; /*a name to be used later*/
    src: url('{% static 'main/fonts/Righteous.ttf' %}'); /*URL to font*/
}